.error {
  position: fixed;
  top: 2rem;
  left: 2rem;
  border-radius: 25px;
  color: #d8000c;
  padding: 1rem;
  background-color: #ffbaba;
  border: 1px solid #d8000c;
  z-index: 1000;

  &.hidden {
    display: none;
  }
}
