@import 'styling/style.scss';

.overview-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 1.5rem;
  cursor: pointer;
  
  div {
    width: 10rem;

    &:nth-last-child(2) {
      margin-left: auto;
      width: 6rem;
    }

    &:nth-child(2) {
      width: 6rem;
    }

    &:nth-child(3) {
      width: 100%;
    }

    .wi {
      font-size: 1.5rem;
      margin-right: 0.5rem;
      align-self: center;
    }
  }
}

.fa-angle-up {
  vertical-align: top;
}

.details-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  & > * {
    padding: 1rem;
    flex: 1 100%;
    background: rgba(255, 255, 255, 0.098);
    border-radius: 5px;
  }

  .table-card {
    flex: 1 2 auto;

    &.details-overview,
    &.weather {
      flex: 1 0 50%;
    }

    .icon,
    svg.icon {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
      padding: 0;
      &.wi {
        font-size: xx-large;
      }
    }
  }
}
