@import 'styling/style.scss';

.overview-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 1.5rem;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.098);
  }

  div {
    width: 11rem;

    &:nth-last-child(2) {
      margin-left: auto;
      width: 6rem;
    }

    &:nth-child(2) {
      width: 6rem;
      font-weight: 800;
    }

    &:nth-child(3) {
      width: 100%;
    }

    .wi {
      font-size: 1.5rem;
      margin-right: 0.5rem;
      align-self: center;
    }
  }
}

.details-row {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}
.details-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  .detail-card {
    padding: 1rem;
    flex-grow: 1;
    min-width: 25%;
    background: rgba(255, 255, 255, 0.098);
    border-radius: 5px;

    // span:last-child {
    //   font-size: 5rem;
    // }

    // &:not(:first-child) {

    //   span:nth-child(2) {
    //     color: red;
    //   }
    // }
  }

  .icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    align-self: center;
  }

  // .table-card {
  //   flex: 1 2 auto;

  //   &.details-overview,
  //   &.weather {
  //     flex: 1 0 50%;
  //   }

  //   .icon,
  //   svg.icon {
  //     margin-right: 1rem;
  //     width: 2rem;
  //     height: 2rem;
  //     vertical-align: middle;
  //     padding: 0;
  //     &.wi {
  //       font-size: xx-large;
  //     }
  //   }
  // }
}
