@import "style.scss";

.list-container {
  position: relative;

  .list {
    list-style: none;
    background-color: $font-color;
    border-radius: 8px;
    position: absolute;
    top: 3rem;
    right: 0;
    width: 300px;
    padding: 0;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    li {
      text-decoration: none;
      color: #333333;
      padding: 1rem 1.3rem;
      margin: 8px 8px 0 8px;
      display: block;
      cursor: pointer;

      &:not(:first-child) {
        border-top: 1px solid #ddd;
        margin: 0 8px;
      }

      &:last-child {
        margin: 0 8px 8px 8px;
      }

      &.selected {
        background-color: rgb(175, 206, 225);
      }
  
      &:hover {
        background-color: rgb(202, 219, 230);
      }
    }
  }

  .list-tip {
    left: -120%;
    .list-arrow {
      left: 60%;
    }
  }

  .list-btn {
    @include button();
    padding: 1rem;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

// inspiration for hover effect:
// ------------------------------------------------
// https://codepen.io/thejamespower/pen/OVNYLL