@import '../../styling/style.scss';

.list-container {
  position: relative;

  .list {
    list-style: none;
    background-color: $font-color;
    border-radius: 8px;
    position: absolute;
    top: 3rem;
    right: 0;
    width: 300px;
    padding: 0;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    li {
      text-decoration: none;
      color: #333333;
      padding: 1rem 1.3rem;
      display: block;

      &:not(:first-child) {
        border-top: 1px solid #dddddd;
      }

      // &.selected {
      //   background-color: lightblue;

      //   &:hover {
      //     background-color: lightskyblue;
      //   }
      // }
    }
  }

  .list-btn {
    @include button();
    padding: 1rem;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

//   .list-btn {
//     @include button();
//     padding: 1rem;
//     position: relative;
//     overflow: hidden;
//     transition: 0.3s;

//     &:after {
//       position: absolute;
//       transition: 0.3s;
//       content: '';
//       width: 0;
//       left: 1rem;
//       bottom: 25%;
//       height: 2px;
//       background: #f7f7f7;
//     }

//     &:hover {
//       cursor: pointer;
//       &:after {
//         width: 85%;
//         left: 1rem;
//       }
//     }

//     span {
//       font-weight: 600;
//       vertical-align: middle;
//       font-size: 1rem;
//       margin-right: 1rem;
//     }
//   }
// }

// inspiration for hover effect:
// ------------------------------------------------
// https://codepen.io/thejamespower/pen/OVNYLL