// breakpoints
$screen-sm-min: 641px;
$screen-md-min: 769px;
$screen-lg-min: 991px;
$screen-xl-min: 1201px;

$screen-xs-max: 640px;
$screen-sm-max: 768px;
$screen-md-max: 990px;
$screen-lg-max: 1200px;

// media queries min and max width
@mixin xs {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// media queries min width
@mixin min-sm {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin min-md {
  @media screen and (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin min-lg {
  @media screen and (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin min-xl {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// media queries max width
@mixin max-sx {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin max-sm {
  @media screen and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin max-md {
  @media screen and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lt-lg {
  @media screen and (max-width: #{$screen-lg-max}) {
    @content;
  }
}