.gradient {
  &-day {
    &-clear {
      background: linear-gradient($day-clear-top 10%, $day-clear-bottom);
      &-icon:before {
        color: linear-gradient($day-clear-bottom, $day-clear-top);
      }
    }
    &-cloudy {
      background: linear-gradient($day-clear-top 10%, $day-clear-bottom);
    }
  }

  &-night {
    &-clear {
      background: linear-gradient($day-clear-top 10%, $day-clear-bottom);
    }
  }
}