// colors
$font-color: whitesmoke;
$header-color: purple;

// @ {
//     background-color: mix(black, $color, 70%);
//   }

// gradient colors
$day-clear-top: #1681a8;
$day-clear-bottom: #4bc4df;
$day-hot-top: #f9ef77;
$day-hot-bottom: #e29039;
$day-clouds-top: #4d8494;
$day-clouds-bottom: #d9b1ce;
$day-drizzle-top: #5676ff;
$day-drizzle-bottom: #a4b7da;
$day-rain-top: #2345d6;
$day-rain-bottom: #798cb0;
$day-snow-top: #9694c6;
$day-snow-bottom: #d3d6da;
$day-thunderstorm-top: #8d8d96;
$day-thunderstorm-bottom: #5a4c60;
$day-mist-top: #cfcfda;
$day-mist-bottom: #b4aeb5;
$day-sand-top: #dacd85;
$day-sand-bottom: #cba057;
$day-ash-top: #b8b8b8;
$day-ash-bottom: #545454;
$day-tornado-top: #403254;
$day-tornado-bottom: #a79876;

$night-clear-top: #001763;
$night-clear-bottom: #340e66;
$night-hot-top: #160d04;
$night-hot-bottom: #b97d28;
$night-clouds-top: #0b4271;
$night-clouds-bottom: #7c5e74;
$night-drizzle-top: #04103c;
$night-drizzle-bottom: #5b74a4;
$night-rain-top: #000d42;
$night-rain-bottom: #51658c;
$night-snow-top: #2b2a54;
$night-snow-bottom: #aeb1b5;
$night-thunderstorm-top: #25172b;
$night-thunderstorm-bottom: #5c4c33;
$night-mist-top: #4d404f;
$night-mist-bottom: #8c8c9d;
$night-sand-top: #493108;
$night-sand-bottom: #b38a46;
$night-ash-top: #1b1b1b;
$night-ash-bottom: #777777;
$night-tornado-top: #180d26;
$night-tornado-bottom: #8e846f;
