@import url("https://fontlibrary.org//face/hanken");
@import "variables";
@import "gradient";
@import "breakpoints";
@import "fonts";
@import "mixins";

// body {
//   font-family: "HankenBook";
//   font-weight: normal;
//   font-style: normal;
// }
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
#root {
  margin: 0;
  padding: 0;
  // height: 100%;
  // width: 100%;
  color: whitesmoke;
  font-family: "HankenBook";
  font-weight: normal;
  font-style: normal;
}

#wrapper {
  background-attachment: fixed;
  margin-top: 0;
  margin-bottom: 0;
  // height: 100vh;
  width: 100vw;
  overflow-y: auto;
	overflow-x: hidden;
  // background-size: cover;
}

