@import url("https://fontlibrary.org//face/hanken");
@import "fonts";
@import "variables";
@import "mixins";
@import "breakpoints";
@import "gradient";
@import "wave";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
#root {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "HankenBook";
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

#wrapper {
  background-attachment: fixed;
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;
  overflow-y: auto;
	overflow-x: hidden;

}