@import "style.scss";

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 2rem;
  transform:scaleX(-1);

  & > * {
    transform:scaleX(-1);
  }

  h1 {
    font-size: 1.5rem;
  }

  .right-align {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .button-container {
    font-size: 1.5rem;

    .divider {
      font-size: 1.5rem;
      bottom: 1rem;
      position: absolute;
    }

    button {
      @include button();
      width: 3rem;
      height: 3rem;
      opacity: 0.5;

      .icon {
        font-size: 2.6rem;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  .location-btn {
    @include button();
    padding: 1rem;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .celsius {
    left: -30%;
    .cel-arrow {
      left: 50%;
    }
  }

  .fahrenheit {
    left: -60%;
    .far-arrow {
      left: 50%;
    }
  }

  .current {
    left: -150%;
    .curr-arrow {
      left: 68%;
    }
  }
}
