.warning {
  position: fixed;
  top: 2rem;
  left: 2rem;
  border-radius: 25px;
  color: #d89400;
  padding: 1rem;
  background-color: #ffdaba;
  border: 1px solid #d89400;
  z-index: 1000;

  &.hidden {
    display: none;
  }
}
