.tooltip-container {
    position: relative;
    display: inline-block;
  
  .tooltip-box {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    top: calc(100% + 5px);
    display: none;
    white-space: nowrap;
  }
  
  .tooltip-box.visible {
    display: inline-block;
  }
  
  .tooltip-arrow {
    position: absolute;
    top: -10px;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
  }
}
