@import "../../styling/style.scss";

.current-weather {

  h2 {
    display: inline-block;
    margin: 0 1rem 0 0;
    font-size: 3rem;
    font-weight: 200;
  }

  p {
    margin: 0 0 2rem 0;
    font-size: 1.3rem;
    font-weight: 100;
  }

  .save-btn {
    @include button();
    padding: 1rem;
    display: inline-block;
  
    .icon {
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  .add-list {
    top: calc(-55% + 5px);
    .add-list-arrow {
      top: 100%;
      left: 30%;
      border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    }
  }

  .large-info {
    display: grid;
    gap: 2rem;
    color: rgba(0, 0, 0, 0.639);
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    height: 100%;

    .icon-wi {
      padding-top: 0.5rem;
      font-size: 6.5rem;
      margin-left: 5rem;
    }
  
    .temp-current {
      font-size: 8rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 1rem 0;
    }
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1rem;
  
    .detail-card {
      padding: 0.8rem;
      background: rgba(255, 255, 255, 0.098);
      border-radius: 8px;
      display: flex;
      flex-flow: row nowrap;
      gap: 0.5rem;
      box-shadow: 0 1.5px 0.7px rgba(0, 0, 0, 0.026),
              0 3.4px 2.5px rgba(0, 0, 0, 0.037),
              0 7.1px 7px rgba(0, 0, 0, 0.023),
              0 21px 19px rgba(0, 0, 0, 0.016);
  
      div:nth-child(2) { 
        flex-grow: 1;
        display: flex;
        gap: 0.5rem;
        flex-flow: column nowrap;
  
        span:first-child {
          text-transform: lowercase;
          color: rgba(255, 255, 255, 0.475);
        }
  
        span:last-child {
          font-size: 1.5rem;
          flex: 1 auto;
        }
      }
    }
  
    .icon {
      font-size: 2rem;
      align-self: center;
  
      &.wi-wind {
        font-size: 2.5rem;
      }
    }
  }
}
